.WindowWrapper {
    background: var(--grey);
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px #000, inset 2px 2px #FFF;
    padding: 2px;
    border: 1px solid var(--grey);
}

.WindowWrapperActive {
    z-index: 999;
}

.WindowContent {
    overflow: auto;
    height: 100%;
    /* position: relative; */
}

.WindowToolbar {
    background: linear-gradient(90deg rgb(var(--highlight)) 0%, color-mix(in srgb, rgb(var(--highlight)), white 50%));
    background-color: rgb(var(--highlight));
    min-height: 24px;
    overflow: hidden;
    display: flex;
    gap: 6px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    filter: saturate(0) brightness(.95);
    font-weight: bold;
    color: #FFF;
}

.WindowToolbarActive {
    background-color: rgb(var(--highlight));
    filter: unset;
}