@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlight: 252, 186, 3;
  --foreground-rgb: 0, 0, 0;
  --text: #000;
  --border: #6d626d;
  --tw-border-color: #6d626d;
  --background: #fffbf7;
  --grey: #c0c0c0;
  --lightGrey: #eee;

  --win-bezel-box-shadow: 1px 1px #000, -1px -1px #FFF, inset 1px 1px #FFF, inset 2px 2px rgba(255, 255, 255, 0.5);
  --win-bezel-inverted-box-shadow: 1px 1px #FFF, inset 1px 1px #000, inset 2px 2px rgba(255, 255, 255, 0.5);

  list-style: unset;
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
  user-select: none;

  cursor: url(./_static/cursors/w98_cursor.png), auto;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  color: rgb(var(--foreground-rgb));
}

a {
  font-weight: 600;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: var(--font-body);
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

code {
  font-size: .8rem;
}

button {
 
}

/* BUTTONS */
.text-button {
  background: var(--grey);
  padding: 3px 6px;
  font-family: var(--font-body);
  border: 1px solid;
  box-shadow: 1px 1px 1px black, inset 2px 2px 2px white, inset 0 0 2px rgba(0,0,0,0.5);
  border-color: var(--highlight);
  color: var(--text);
  min-width: 60px;
}

.icon-button {
  background: var(--grey);
  padding: 3px 6px;
  font-family: var(--font-body);
  border: 1px solid;
  box-shadow: 1px 1px 1px black, inset 2px 2px 2px white, inset 0 0 1px rgba(0,0,0,0.3);
  border-color: var(--highlight);
  color: var(--text);
}

/* HELPER CLASSES */
.win-bezel {
  box-shadow: var(--win-bezel-box-shadow);
}

.win-bezel-inverted {
  box-shadow: var(--win-bezel-inverted-box-shadow);
}

.win-bezel-thick-inverted {
  box-shadow: 2px 2px #FFF, inset 2px 2px #767676;
}

.win-bezel-thick {
  box-shadow: 3px 3px #767676, -2px -2px #FFF, inset 2px 2px #FFF, inset 2px 2px #767676;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
