@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  filter: url("#pixelate");
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --highlight: steelblue;
  --text: #000;
  --border: #6d626d;
  --tw-border-color: #6d626d;
  --background: #fffbf7;

  list-style: unset;

  background: var(--background);
  background-image: radial-gradient(rgb(175, 175, 175) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;

  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  border-color: var(--border);
}

a {
  /* color: var(--highlight); */
  font-weight: 600;
}

/* code {
  color: var(--primary);
} */

svg {
  color: var(--highlight);
}

button {
  background: #fffbf7;
  border-radius: 4px;
  /* background-color: var(--primary); */
  border: 1px solid;
  border-color: var(--highlight);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {

  :root {
    background-color: #261825;
    background-image: radial-gradient(#443543 1px, transparent 0);
    --highlight: #827882;
    --text: #eae9ea;
  }

  h1, h2, h3, h4, h5, h6, span, b, em, p {
    color: #FFF;
  }

  button {
    background-color: #594b58;
  }
  
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

code {
  /* padding: 0 2rem; */
  font-size: .8rem;
}